{% extends "base.html" %}

{% block content %}
 	<ol>
		{% for article in articles %}
			{% if article.visible %}
			    <li>
			    	<a href="{{ article.link }}"><b>{{ article.title }}</b></a> by <i>{{ article.person.username }}</i>
			    	<a href="{% url 'comments' article.id %}">comments</a>
    				{% if article.upvote %}
    					<a href="{% url 'vote' article.id %}">downvote</a>
					{% else %}
						<a href="{% url 'vote' article.id %}">upvote</a>
	    			{% endif %}
			    	{% if perms.catalog.can_change_status %}
	    				<a>{{article.comments.count}} comments</a>
	    				<a href="{% url 'hide' article.id %}">Hide</a>
					{% endif %}
			    </li>
		    {% endif %}
	    {% empty %}
    		<li>There a currently no articles to display.</li>
		{% endfor %}
	</ol>

	{% if articles.has_other_pages %}
	  <ul class="pagination">
	    {% if articles.has_previous %}
	      <li><a href="?page={{ articles.previous_page_number }}">&laquo;</a></li>
	    {% else %}
	      <li class="disabled"><span>&laquo;</span></li>
	    {% endif %}
	    {% for i in articles.paginator.page_range %}
	      {% if articles.number == i %}
	        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
	      {% else %}
	        <li><a href="?page={{ i }}">{{ i }}</a></li>
	      {% endif %}
	    {% endfor %}
	    {% if articles.has_next %}
	      <li><a href="?page={{ articles.next_page_number }}">&raquo;</a></li>
	    {% else %}
	      <li class="disabled"><span>&raquo;</span></li>
	    {% endif %}
	  </ul>
	{% endif %}

{% endblock %}